/* 

DATE PICKER CSS */

.react-date-picker {
  position: relative;

}
.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-date-picker--disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.react-date-picker__wrapper {

  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid var(--twali-colors-whiteAlpha-400);
  border-radius: 0.375rem;
  font-family: "PP Telegraf Light";
  height: 45px;
  padding: 8px;
  font-size: 1rem;
}

.react-date-picker__inputGroup {
  width: calc((4px * 3) + 0.56em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
  max-width: 100%;

}

.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}
.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-date-picker__button:enabled {
  cursor: pointer;
}
.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #c7f83c;
}
.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
  cursor: not-allowed;
}
.react-date-picker__button svg {
  display: inherit;
  stroke: #f9fff2;
}
.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  box-shadow: 8px 16px 24px 0px #062b2a8f;
}
.react-date-picker__calendar--closed {
  display: none;
}
.react-date-picker__calendar .react-calendar {
  background-color: rgb(4, 26, 25);
  border: 1px solid #c7f83c;
  padding: 10px;
  border-width: thin;
  margin-top: 16px;

}
.react-calendar__tile:hover {
  color: #c7f83c;
}

.react-calendar__tile--rangeStart {
  background-color: #c7f83c;
  color: #6d6d6d;
}

.react-calendar__tile--rangeEnd {
  background-color: #c7f83c;
  color: #6d6d6d;
}

.react-calendar__tile--active {
  background-color: #c7f83c;
  color: #6d6d6d;
}
.market-cal {
  display: none;
}

.market-date-picker__calendar{
  margin-top: 20px !important;
 border-radius: 4px;
}
