.react-daterange-picker {
    display: inline-flex;
    position: relative;
  }
  .react-daterange-picker,
  .react-daterange-picker *,
  .react-daterange-picker *:before,
  .react-daterange-picker *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-daterange-picker--disabled {
    background-color: rgb(4, 26, 25);
    color: #6d6d6d;
    opacity: 0.4;
  }
  .react-daterange-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px solid var(--twali-colors-whiteAlpha-400);
    border-radius: 0.375rem;
    font-family: "PP Telegraf Light";
    height: 45px;
    padding: 8px;
    font-size: 1rem;
  }
  .react-daterange-picker__inputGroup {
    min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
    flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;
  }
  .react-daterange-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
  }
  .react-daterange-picker__range-divider {
    padding-right: 12px;
  }
  .react-daterange-picker__inputGroup__input {
    min-width: 0.54em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    font: inherit;
    box-sizing: content-box;
    -moz-appearance: textfield;
  }
  .react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-daterange-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-daterange-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px +  0.54em);
  }
  .react-daterange-picker__button {
    border: 0;
    background: transparent;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
  }
  .react-daterange-picker__button:enabled {
    cursor: pointer;
  }
  .react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,
  .react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
    stroke: #c7f83c;
  }
  .react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
    stroke: #6d6d6d;
    cursor: not-allowed;
  }
  .react-daterange-picker__button svg {
    display: inherit;
    stroke: #f9fff2;
  }
  .react-daterange-picker__calendar {
    width: 350px;
    max-width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 8px 16px 24px 0px #062b2a8f;
  }
  .react-daterange-picker__calendar--closed {
    display: none;
  }
  .react-daterange-picker__calendar .react-calendar {
    background-color: rgb(4, 26, 25);
    padding: 10px;
    border-width: thin;
  }

  .react-calendar__tile--active {
    background-color: #c7f83c;
    color: #6d6d6d;
  }
  