html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.body-animation > svg {
  min-width: 100% !important;
}
div[aria-current="step"] > span {
  color: #c7f83c;
}
div[aria-current="step"]:first-of-type {
  border: 1px solid #c7f83c;
  border-radius: 50%;
}
.chakra-steps > div:first-of-type > div > div > span {
  position: relative;
  left: 1px;
}

span[role="presentation"] {
  color: #f9fff2;
}
input:focus,
select:focus {
  border-color: #c7f83c !important;
  box-shadow: none !important;
}

.werk-token-name {
  padding-left: 14px;
}

.chakra-menu__menu-button:focus {
  border-color: #c7f83c !important;
  box-shadow: none !important;
}

/* start date in marketplace calendar */
.start-date {
  color: #98B2B2
}

.sort-dropdown > button {
  background-color: transparent;
}

.bounty-sort-dropdown > button {
  background-color: transparent;
  width: 240px;
}

.twali-horizontal-line {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 100%;
  margin-left: -1rem;
  background-color: rgb(88, 112, 112);
}

.twali-vertical-line {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(88, 112, 112);
  height: 830px;
  position: relative;
}

@font-face {
  font-family: "GrandSlang Italic";
  src: url("../public/fonts/GrandSlang-Italic.eot");
  src: url("../public/fonts/GrandSlang-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/GrandSlang-Italic.woff2") format("woff2"),
    url("../public/fonts/GrandSlang-Italic.woff") format("woff"),
    url("../public/fonts/GrandSlang-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GrandSlang";
  src: url("../public/fonts/GrandSlang-Roman.eot");
  src: url("../public/fonts/GrandSlang-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/GrandSlang-Roman.woff2") format("woff2"),
    url("../public/fonts/GrandSlang-Roman.woff") format("woff"),
    url("../public/fonts/GrandSlang-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf Bold";
  src: url("../public/fonts/PPTelegraf-Bold.eot");
  src: url("../public/fonts/PPTelegraf-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/PPTelegraf-Bold.woff2") format("woff2"),
    url("../public/fonts/PPTelegraf-Bold.woff") format("woff"),
    url("../public/fonts/PPTelegraf-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf Light";
  src: url("../public/fonts/PPTelegraf-Light.eot");
  src: url("../public/fonts/PPTelegraf-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/PPTelegraf-Light.woff2") format("woff2"),
    url("../public/fonts/PPTelegraf-Light.woff") format("woff"),
    url("../public/fonts/PPTelegraf-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("../public/fonts/PPTelegraf-Medium.eot");
  src: url("../public/fonts/PPTelegraf-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/PPTelegraf-Medium.woff2") format("woff2"),
    url("../public/fonts/PPTelegraf-Medium.woff") format("woff"),
    url("../public/fonts/PPTelegraf-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scope Medium";
  src: url("../public/fonts/Scope-BoldExpanded.eot");
  src: url("../public/fonts/Scope-BoldExpanded.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Scope-BoldExpanded.woff2") format("woff2"),
    url("../public/fonts/Scope-BoldExpanded.woff") format("woff"),
    url("../public/fonts/Scope-BoldExpanded.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scope Light";
  src: url("../public/fonts/Scope-LightExpanded.eot");
  src: url("../public/fonts/Scope-LightExpanded.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Scope-LightExpanded.woff2") format("woff2"),
    url("../public/fonts/Scope-LightExpanded.woff") format("woff"),
    url("../public/fonts/Scope-LightExpanded.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scope Medium";
  src: url("../public/fonts/Scope-MediumExpanded.eot");
  src: url("../public/fonts/Scope-MediumExpanded.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Scope-MediumExpanded.woff2") format("woff2"),
    url("../public/fonts/Scope-MediumExpanded.woff") format("woff"),
    url("../public/fonts/Scope-MediumExpanded.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


